/* src/components/ViviendaCard.css */

.vivienda-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px; /* Ancho fijo para las tarjetas */
    display: flex;
    flex-direction: column;
  }
  
  .vivienda-imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .vivienda-info {
    padding: 15px;
    text-align: center;
  }
  
  .vivienda-descripcion {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
    min-height: 50px; /* Para asegurar una altura mínima para la descripción */
  }
  
  .vivienda-precio {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .vivienda-alquilar-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .vivienda-alquilar-btn:hover {
    background-color: #0056b3;
  }